/*Basic styles*/
* {
    box-sizing: border-box
}
header {
    color: whitesmoke;
    text-align: center;
}
.header-container {
     background: url(img/mustang-horse-137559-9923384.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.open_statement{
     color: burlywood;
    text-align: center;
}
body {
   
}
ul {
    list-style: none;
}
/*Basic Layout*/


/*Media Quaries*/