/*Basic styles HOME*/
* {
    box-sizing: border-box
}
header {
    color: whitesmoke;
    text-align: center;
    display: flex;
}
.header-container {
     background: url(img/mustang-horse-137559-9923384.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 15px;
    margin-bottom: 2px;
}
nav a {
    color: whitesmoke;
    display: inline-flex;
}

a {
    color: cornflowerblue;
}
a:hover {
    color:aqua;
}
.open_statement{
     color: chocolate;
    text-align: center;
}
.container {
   display: flex;
}
ul {
    list-style: none;
}
.about {
    margin-top: 48px;
    color: chocolate;
    text-align: center;
}
div.container-fluid {
    background-color: beige;
    margin: 0;
}
footer {
    background-color: blanchedalmond;
    color: tomato;
    padding-left: 30px;
}
/*Newsletter Sign Up*/

#newsletter {
    display: none;
}

form {
  max-width: 550px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

button {
  font-style: normal;
  width: 100%;
  box-shadow: 0 3px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="phone"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

/*Basic styles GALLERY*/

body.gallery_body {
    background-color: beige;
}
.home_anchor {
    margin-left: auto;
    margin-right: auto;
}
a.home_anchor hover {
    color:aqua;
}
#horse_pic_1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
#horse_pic_2,
#horse_pic_3,
#horse_pic_4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#pic_subtitle {
    text-align: center;
    color: chocolate;
}

/* MODAL styles */

#makeADonation {
    display: inline;
    color:chocolate;
}
button.close {
    text-align: right;
}

/*Media Quaries*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .title{
        flex: auto;
    }
    nav{
        flex: auto;
        flex-direction: column;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .header-container {
        padding-bottom: 150px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .header-container {
        padding-bottom: 275px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .header-container {
        padding-bottom: 425px;
    }
}











