/*Basic styles*/
* {
    box-sizing: border-box
}
header {
    color: whitesmoke;
    text-align: center;
}
.open_statement{
     color: whitesmoke;
    text-align: center;
}
body {
    background: url(img/mustang-horse-137559-9923384.jpg) no-repeat;
    background-size: cover;
    
}
ul {
    list-style: none;
}
/*Basic Layout*/

header h1{
    float: left
}
header ul{
    float: right
}

/*Media Quaries*/